html,
body {
  width: 100%;
  height: 100%;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

.show-title {
  font-size: 44px;
  font-family: "Poppins";
  color: #ffffff;
  display: block;
  position: relative;
}
.show-text {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: lighter;
  line-height: 32px;
  color: #ffffff;
  display: block;
  position: relative;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.show-text-box {
  display: none;
}

.item:hover .show-text-box {
  display: block;
}

.item:hover .hide-text-box {
  display: none;
}

.show-text-box {
  width: 70%;
  height: 100px;
  padding: 40px;
  opacity: 0;
  position: absolute;
  bottom: 130px;

  animation: fadeIn 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide-text-box {
  width: 100%;
  height: 24%;
  position: absolute;
  bottom: 0px;
  padding: 20px;

  animation: fadeOut 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  position: relative;
  height: 100px;

  font-size: 34px;
  line-height: 1.1em;
  font-size: 44px;
  font-family: "Poppins";

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.item {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  background-position: center;
  background-size: cover;
  background-repeat: none;
  margin: 20px;
  transition: flex 0.8s ease;
  position: relative;
}
.flex {
  flex: 1;
}

.hover:hover {
  flex: 4;
}

.item-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    rgba(0, 0, 0, 0.8)
  );
  color: #fff;
}

.hide,
show-text {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.item-1 {
  background-image: url("../images/image-1.png");
}

.item-2 {
  background-image: url("../images/image-2.png");
}

.item-3 {
  background-image: url("../images/image-3.png");
}

.item-4 {
  background-image: url("../images/image-4.png");
}

.item-5 {
  background-image: url("../images/image-5.png");
}
