html,
body {
  width: 100%;
  height: 100%;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}
.show-title {
  font-size: 44px;
  font-family: Poppins;
  color: #ffffff;
  display: block;
  position: absolute;
  bottom: 200px;
  margin-left: 20px;
}
.show-text {
  font-size: 28px;
  font-family: "Poppins";
  font-weight: lighter;
  color: #ffffff;
  display: block;
  position: absolute;
  bottom: 100px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.show {
  display: none;
}
.item-1:hover .show {
  display: block;
}

.item-1:hover .hide {
  display: none;
}

.hide {
  position: absolute;
  bottom: 150px;
  margin-left: auto;
  display: block;
  font-size: 34px;
  line-height: 1.1em;
  font-size: 44px;
  font-family: Poppins;
  text-indent: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.item {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  background-position: center;
  background-size: cover;
  background-repeat: none;
  margin: 20px;
  transition: flex 0.8s ease;
  position: relative;
}
.flex {
  flex: 1;
}

.hover:hover {
  flex: 4;
}
.item-gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    rgba(0, 0, 0, 0.8)
  );
  color: #fff;
}
.hide,
show-text {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.item-1 {
  background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
}

.item-2 {
  background-image: url("https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80");
}

.item-3 {
  background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80");
}

.item-4 {
  background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
}

.item-5 {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
}
